*.asc
*target*
/tmp
*lib/*
*classes/*
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
/doc
/src/qbits/perf.clj
/pom.xml.asc
/.lein-env
/.lein-repl-history
/.nrepl-port
*.iml
.idea
.lein-env
/bench.clj
