{:cljdoc/include-namespaces-from-dependencies
 [cc.qbits/alia
  cc.qbits/alia-async
  cc.qbits/alia-component
  cc.qbits/alia-java-legacy-time
  cc.qbits/alia-joda-time
  cc.qbits/alia-manifold
  cc.qbits/alia-spec]
 :cljdoc.doc/tree
 [["Introduction" {:file "README.md"}]
  ["Guide" {:file "doc/guide.md"}]]}
